<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark p-3">
    
    <div class="container-fluid">
        <!-- Brand for smaller screens -->
        <a class="navbar-brand d-block d-lg-none" href="#">
            <img src="/static_files/images/logos/logo_2_white.png" height="80" alt="Logo">
        </a>
        <!-- Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Products</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link mx-2" href="#">
                        <img src="https://www.minus33.com/cdn/shop/articles/vkkf4kmcusvszlhgvzwz_2ca5f857-6f19-4e59-9279-c0d491e90ee8.jpg?v=1580197959" height="80" alt="Minus33 Logo">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a></li>
                        <li><a class="dropdown-item" href="#">Contact us</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>        
    </div>
</nav>
</div>
